@font-face {
  font-family: "WorkSansThinItalic";
  src: url("~/assets/fonts/WorkSans-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSansThin";
  src: url("~/assets/fonts/WorkSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSansLight";
  src: url("~/assets/fonts/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSansRegular";
  src: url("~/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

:root {
  --background: hsl(240, 5%, 92%);
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(110, 7%, 33%);
  --ternary: hsl(0, 0%, 73%);
}

body {
  font-family: "WorkSansLight";
  background-color: var(--background);
  color: var(--primary);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}